<div class="col-md-5" id="recipeForm">
<<<<<<< HEAD
<<<<<<< HEAD
  <form enctype="multipart/form-data">
=======
  <form {{#if recipeDetails.id}}id="#updateRecipeForm"{{else}}id="newRecipeForm"{{/if}} enctype="multipart/form-data">
>>>>>>> 05921de... pushing branch up
=======
  <form {{#if recipeDetails.id}}id="#updateRecipeForm"{{else}}id="newRecipeForm"{{/if}} enctype="multipart/form-data">
>>>>>>> 526ab30a9fffe02c70dce55d015407e8c1e98033
    <div class="form-group" >
      <label>Recipe Title.</label>
      <input class="form-control" name="title" id="recipe-title" type="text" required pattern=".*\S+.*"
        title="atleast one character required." value="{{recipeDetails.title}}">
    </div>
    <div class="form-group">
      <label>Ingredients. Please enter each ingredient on a new line.</label>
      <textarea class="form-control" id="recipe-ingredients" name="ingredients" type="text" rows="9"
        placeholder="250g Kobe Sirloin Steak&#13;&#10;3 tsp salt" required>{{#each recipeDetails.ingredients}}{{this.quantity}} {{this.unit}} {{this.title}}
        {{/each}}
        </textarea>
    </div>
    <div class="form-group">
      <label>Instructions. Please enter each instruction on a new line.</label>
      <textarea class="form-control" id="recipe-instructions" name="instructions" type="text" rows="9"
        placeholder="1. Season with salt & pepper&#13;&#10;2. Grill on a very hot pan."
        required>{{recipeDetails.instructions}}</textarea>
    </div>
    <div class="form-group">
      <label>Servings.</label>
      <input class="form-control" id="recipe-servings" name="servings" type="number" min="1" required
        value="{{recipeDetails.servings}}">
    </div>
    <div class="form-group">
      <label>Preparation Time in minutes.</label>
      <input class="form-control" id="recipe-preparation-time" name="preparationTime" type="number" min="1" required
        value="{{recipeDetails.preparationTime}}">
    </div>
    <div class="form-group">
      <label>Notes - Optional.</label>
      <textarea class="form-control" id="recipe-notes" name="notes" type="text" rows="5">{{{recipeDetails.notes}}}</textarea>
    </div>
    <div class="form-group">
      <label>Upload A JPEG Or PNG Image - Optional.</label>
      <br>
      <small id="passwordHelpInline" class="text-muted">Please choose landscape images</small>
      <br>
      <input type="file" id="recipe-image-upload" accept="image/*" />
    </div>
    {{#if recipeDetails}}
    <div class="form-group">
      <button class="btn btn-primary disabled" recipeId="{{recipeDetails.id}}" id="updateRecipeButton" type="submit">Save Changes</button>
    </div>
    {{else}}
    <div class="form-group">
      <button class="btn btn-primary disabled" id="sendRecipeButton" type="submit">Submit</button>
    </div>
    {{/if}}
  </form>
</div>

<script type="text/javascript" src="/js/recipes.js"></script>