<div class="container">
    <div class="row" id="detailedRecipeViewHere">
        <div class="col-md-5" id="detailedRecipeViewHere">
            <div>
                <img src="{{recipeDetails.imageUrl}}" alt="{{{recipeDetails.title}}}" width="300px">
                <h3>{{recipeDetails.title}}</h3>
                <h4>Ingredients:</h4>
                <p>{{#each recipeDetails.ingredients}}
                <p>{{this.quantity}} {{this.unit}} {{this.title}}</p>
                {{/each}}
                </p>
                <h4>Instructions:</h4>
                <p>{{recipeDetails.instructions}}</p>
                <h4>Preparation Time:</h4>
                <p>{{recipeDetails.preparationTime}} mins.</p>
                <h4>Servings:</h4>
                <p>{{recipeDetails.servings}}</p>
                <h4>Notes:</h4>
                <p>{{recipeDetails.notes}}</p>

                <button edit-Id="{{recipeDetails.id}}" class="editRecipeButton btn btn-secondary disabledButton"
                    type="submit">Edit Recipe</button>
                <button delete-Id="{{recipeDetails.id}}" class="deleteRecipeButton btn btn-secondary disabledButton"
                    type="submit">Delete Recipe</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/recipes.js"></script>