<div class="container">
    <div class="row" id="detailedRecipeViewHere">
        <div class="col-md-5" id="detailedRecipeViewHere">
            <span class="close">&times;</span>
            <div>
                <h3>{{recipeDetails.title}}</h3>
                <p> Ingredients:
                    {{#each recipeDetails.ingredients}}
                <p>{{this.quantity}} {{this.unit}} {{this.title}}</p>
                {{/each}}
                </p>
                <p>Instructions: {{recipeDetails.instructions}}</p>
                <p>Preparation Time: {{recipeDetails.preparationTime}}</p>
                <p>Servings: {{recipeDetails.servings}}</p>
                <p>Notes: {{recipeDetails.notes}}</p>
                <img src="{{recipeDetails.imageUrl}}" alt="{{{recipeDetails.title}}}" width="300px">
                <button edit-Id="{{recipeDetails.id}}" class="editRecipeButton" type="submit">Edit Recipe</button>
                <button delete-Id="{{recipeDetails.id}}" class="deleteRecipeButton" type="submit">Delete Recipe</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/recipes.js"></script>